<footer class="bg-rose text-white dark:bg-warmgray-900 dark:text-white pt-5 pb-5" style="font-family: 'Saint-Andrews'">
  <div class="container mx-auto px-4">
    <p>&copy; <a href="{{ .Site.BaseURL }}" class="hover:text-gray-500 duration-200">Cantilena Melancholica Rerum Imperfectarum</a></p>
  </div>
</footer>
<script>

  var icon = document.getElementById("icon");
  if (document.documentElement.classList.contains("dark") || localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      icon.classList.remove("icon-moon");
      icon.classList.add("icon-sun");
      document.documentElement.classList.add('dark')
  } else {
      document.documentElement.classList.remove('dark')
  }
  function toggleDarkMode() {
    if (document.documentElement.classList.contains('dark')) {
      icon.classList.remove("icon-sun");
      icon.classList.add("icon-moon");
      document.documentElement.classList.remove('dark')
      localStorage.theme = 'light'
    } else {
      icon.classList.remove("icon-moon");
      icon.classList.add("icon-sun");
      document.documentElement.classList.add('dark')
      localStorage.theme = 'dark'
    }
  }
</script>

