{{ define "main" }}
<main class="main-container min-h-[calc(100dvh-64px)] flex">
  <div class="w-full max-w-ml mx-auto">

    <div class="bg-lace dark:bg-warmgray-700 p-6">
      <div class="flex flex-col links-list">
        {{ range .Site.Data.links }}
        <div class="link-item border-t border-gray-300 dark:border-gray-600">
          <a 
            href="{{ .url }}" 
            target="_blank" 
            rel="noopener noreferrer nofollow"
            class="block w-full text-center"
          >
            <div class="border-gray-300 dark:border-gray-600 overflow-hidden hover:shadow-lg">

              <div class="banner-wrapper w-full flex justify-center items-center overflow-hidden p-4">
                <div class="inline-block">
                  {{ if .avatar }}
                  <img 
                    src="{{ .avatar }}" 
                    alt="{{ .name }} Banner"
                    class="link-banner mx-auto block"
                    onerror="this.src='https://ui-avatars.com/api/?name={{ .name }}&background=random&color=fff&size=640'"
                  >
                  {{ end }}
                </div>
              </div>

              <div class="bg-flora dark:bg-warmgray-800 p-4 text-center">
                <div class="min-w-0">
                  <h3 class="text-lg text-gray-800 dark:text-white">
                    {{ .name }}
                  </h3>

                  {{ if .description }}
                  <p class="site-title text-gray-600 dark:text-gray-400 text-sm mt-3">
                    {{ .description }}
                  </p>
                  {{ end }}
              </div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
    </div>

  </div>
</main>

<style>
.links-list .link-item {
  margin-top: 1.5rem;
  padding-top: 1.5rem;

}

.links-list .link-item:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

.banner-wrapper { display: block; }
.link-banner {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  image-rendering: auto;
  -webkit-user-drag: none;
}

</style>

{{ end }}