<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
    <head>
        {{- partial "head.html" . -}}
        {{ block "meta_tags" . }}{{end}}

        <script defer src="https://cloud.umami.is/script.js" data-website-id="c1d0aaf3-8e27-4906-9d4f-dfa1a8142c94"></script>

        {{ with resources.Get "css/main.css" | postCSS }}
        <link rel="stylesheet" href="{{ .RelPermalink }}">
        {{ end }}
    </head>
    
    {{ if .IsPage }}
    <body class="bg-skin flex flex-col min-h-screen dark:bg-black">
    {{ else }}
    <body class="flex flex-col min-h-screen bg-flora dark:bg-warmgray-800">
    {{end}}
        {{- partial "header.html" . -}}
        <div class="container mx-auto max-w-7xl my-4 flex-grow" id="content">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>

